# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Angular build output
/dist
/tmp
/out-tsc
/bazel-out

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
.DS_Store
Thumbs.db
